<h1>Restaurant List</h1>

  <ul>
  <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %>, <%= "#{restaurant.city} -  #{restaurant.state}" %></li>
  <% end %>
  </ul>



<%= link_to "Add a Restaurant", new_restaurant_path  %>
